<div class="container">
  <div class="black-header">
    <h2>用户编辑</h2>
  </div>
  <form role="form">
      <div class="bg">
        <div class="bg-header">
          <h2>
            用户信息编辑<br>
            <small>编辑用户基本信息</small>
          </h2>
        </div>
        <div class="bg-conter">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group1">
                <label for="namea">姓名</label><br>
                <input type="text" id="namea" placeholder="姓名"/>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group2">
                <label for="phonea">手机</label><br>
                <input type="text" id="phonea" placeholder="手机"/>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group3">
                <label for="emaila">邮箱</label><br>
                <input type="text" id="emaila" placeholder="邮箱"/>
              </div>
            </div>
          </div><br>
          <div class="row">
            <div class="col-sm-4">
                  <label class="radio1">
                    <input type="radio" name="sex"/>男
                  </label>
                  <label class="radio2">
                    <input type="radio" name="sex"/>女
                  </label>
            </div>
            <div class="col-sm-4">
              <div class="form-group4">
                <label for="positiona">职位</label><br>
                <input type="text" id="positiona" placeholder="职位"/>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group5">
                <label for="staffa">员工</label><br>
                <input type="text" id="staffa" placeholder="员工编号"/>
              </div>
            </div>
          </div>
          <div class="form-group6">
            <label class="checkbox1"><input type="checkbox"/>管理员</label>
            <label class="checkbox2"><input type="checkbox"/>教师</label>
            <label class="checkbox3"><input type="checkbox"/>学员</label>
          </div>
        </div>
        <div class="panel-footer">
          <div class="btn-demo">
            <a class="btn btn-default">取消</a>
            <button type="submit" class="btn btn-primary fa fa-save">保存</button>
          </div>
        </div>
      </div>
  </form>
</div>
