<p>This is the simpleForm view.</p>
<form novalidate class="css-form">
  <label>Name: <input type="text" ng-model="user.name" required /></label><br />
  <label>E-mail: <input type="email" ng-model="user.email" required /></label><br />
  Gender: <label><input type="radio" ng-model="user.gender" value="male" />male</label>
  <label><input type="radio" ng-model="user.gender" value="female" />female</label><br />
  <input type="button" ng-click="reset()" value="Reset" />
  <input type="submit" ng-click="update(user)" value="Save" />
</form>
<pre>user = {{user | json}}</pre>
<pre>master = {{master | json}}</pre>
<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
</style>
